#about-section {
  margin-top: 2rem;
  color: aqua;
}
.about-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(225, 209, 209);
}
.about {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.about h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(225, 209, 209);
}
.about .descreption {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}
.about .descreption h3 {
  font-style: italic;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about-title {
    font-size: 1rem;
  }
  .about {
    margin: 0 1rem;
    gap: 1rem;
  }
  .about h1 {
    font-size: 1rem;
  }
  .about .descreption {
    font-size: 0.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}
